@import "tailwindcss";

@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish/Mulish-Regular.ttf');
}

* {
    font-family: 'Mulish', Arial, sans-serif;
}

.bg-blue-transparent {
    background-color: rgba(64, 151, 255, 0.4);
}

html {
    scroll-behavior: smooth;
}